<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="game-container">
        <div class="result">
            <h2 id="result-text">Make your choice!</h2>
            <div id="startcard">
                
            </div>
            <h3 id="resultOftheGame">

            </h3>
            <button id="click">Play</button>
        </div>
        <div class="choices">
            <span class="choice" data-choice="rock">
                <img src="img/rock.jpg" alt="Rock" class="choice-image">
                <h3>Rock</h3>
            </span>
            <span class="choice" data-choice="paper">
                <img src="img/paper.jpg" alt="Paper" class="choice-image">
                <h3>Paper</h3>
            </span>
            <span class="choice" data-choice="scissors">
                <img src="img/scissors.jpg" alt="Scissors" class="choice-image">
                <h3>Scissors</h3>
            </span>
        </div>
    </div>
</body>
</html>