<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Asset Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="/public/css/style05.css">
    <script src="/public/javascript/style05.js"></script>
</head>
<body>

  <div class="card">
    <h2>Asset Management System</h2>

    <input type="text" id="username" placeholder="Email">
    <input type="password" id="password" placeholder="Password">

    <button onclick="login()">Login</button>
  </div>

  <script src="script.js"></script>
</body>
</html>
