* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.card {
  display: flex;
  width: 900px;
  height: 580px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card-left {
  width: 40%;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

.card-left h2 {
  margin-bottom: 10px;
}

.card-right {
  width: 60%;
  padding: 40px;
}

.card-right h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 14px;
}
.email-tag{
    width: 100%;
}
input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.checkbox-label {
display:inline;  
}
.row {
  display: flex;
  gap: 15px;
}

.row div {
  flex: 1;
}
.passw{
    width: 100%;
}
.radio {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.checkbox {
  margin-top: 15px;
  font-size: 13px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #2b6cb0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  background: #2c5282;
}
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .card-left {
    width: 100%;
    padding: 40px 20px;
  }

  .card-right {
    width: 100%;
    padding: 30px 20px 50px;
  }

  .row {
    flex-direction: column;
  }

  .radio {
    flex-wrap: wrap;
    gap: 10px;
  }

  button {
    margin-bottom: 20px;
  }
}
