<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MFU Shop</title>
    <link rel="stylesheet" href="/public/css/week05.css">
</head>
<body>

    <div class="top-bar">
        <h2>MFU shop</h2>
        <button class="signout">Sign out</button>
    </div>

    <div class="add-container">
        <button class="add">Add</button>
    </div>

    <div class="products">
        <div class="card">
            <h3>hat</h3>
            <p>99 baht</p>
            <div class="actions">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>

        <div class="card">
            <h3>shoes</h3>
            <p>199 baht</p>
            <div class="actions">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>

        <div class="card">
            <h3>skirt</h3>
            <p>399 baht</p>
            <div class="actions">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>
    </div>

    <script src="/public/javascript/style06.js"></script>
</body>
</html>
