<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/public/css/style-week2.css">
<body>
<a href="index.html">Home</a> |
<a href="/views/week03/index.html">Login</a>

<div class="login-box">
<h1>Login</h1>
<input  class="input" type="text" placeholder="UserName">
<input class="input" type="password" placeholder="password">
<input class="input-btn" type="submit" value="Login">

<p>Not a member? <a href="register.html">register</a></p>
</div>
</body>
</html>