<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/public/css/style-week2.css">
<body>
<div class="page">
  <div class="card">

    <div class="card-left">
      <div class="branding">
        <img class="logo" src="/public/images/echtitWhite.png" alt="Logo">
        <h2>School of Applied<br>Digital Technology</h2>
        <p>New, Different, Better</p>
      </div>
    </div>

    <div class="card-right">
      <h2>Registration</h2>

      <label>Email Address</label>
      <input class="email-tag" type="email" placeholder="student@lamduan.mfu.ac.th">

      <div class="row">
        <div>
          <label>Password</label>
          <input class="passw" type="password">
        </div>
        <div>
          <label>Confirm Password</label>
          <input class="passw" type="password">
        </div>
      </div>

      <label>Gender</label>
      <div class="radio">
        <label><input type="radio" name="g"> Male</label>
        <label><input type="radio" name="g"> Female</label>
        <label><input type="radio" name="g"> Other</label>
      </div>

      <label>Intended Major</label>
      <select>
        <option>Select a Program</option>
        <option>Computer Science</option>
        <option>Information Technology</option>
        <option>Computer Engineering</option>
        <option>Data Science</option>
      </select>
<div>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label class="checkbox-label" for="vehicle1"> I agree to the school terms of enrollment and privacy policy</label>
</div>
      <button >Register Account</button>
      

  </div>
</div>

</body>
</html>