<!DOCTYPE html>
<html>
<head>
    <title>Login to System</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="outer-box">
    <div class="login-card">
        <h2>Login to System</h2>

        <input type="text" id="username" placeholder="Email">
        <input type="password" id="password" placeholder="Password">

        <button id="loginBtn">Login</button>
    </div>
</div>

<script src="js/login.js"></script>
</body>
</html>
